@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(to top, hsl(210, 1%, 69%), #cad1d3);
    color: #333;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.contact-container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #444;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #152d46;
    box-shadow: 0px 0 7px rgba(0, 123, 255, 0.3);
}

button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #242525;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    margin-top: 20px;
}

/* Adicionando efeito de transição suave ao botão */
button:active {
    transform: scale(1);
}
